[Unit]
Description=Apache Zookeeper server (Kafka)
Documentation=http://zookeeper.apache.org
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple

User=rcms
Group=rcms

Environment=JAVA_HOME=/apps/jdk-1.8/jdk1.8.0_201

ExecStart=/home/rcms/kafka/bin/zookeeper-server-start.sh /home/rcms/kafka/config/zookeeper.properties
ExecStop=/home/rcms/kafka/bin/zookeeper-server-stop.sh

[Install]
WantedBy=multi-user.target

